
.hero {
    min-height: 50vh;
    background: linear-gradient(180deg, #865B2F, #e1ffea22 60%);
}


.hero-left h2 {
    color: #090909;
}

.hero-left p {
    color: #171717;
}


.hero-hand-icon img{;
    max-width: 24%;
    height: auto;
}
.hero-right img {
    max-width: 100%;
    height: auto;
}
